@media screen and (max-width: 640px) {
    body {
        font-size: 0.9em;
    }

    section#index {
        width: 100vw;

        & ul {
            padding: 0.25rem;   
        }
    }

    section.article {
        width: 95vw;
    }

    h1 {font-size: 2rem;}
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    h4 { font-size: 1rem; }
    h5 { font-size: 0.75rem; }
}

@media screen and (min-width: 1441px) {
    body {
        font-size: 1.25em;
    }

    h1 {font-size: 2rem;}
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    h4 { font-size: 1rem; }
    h5 { font-size: 0.75rem; }

}