<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap" rel="stylesheet">    

    <!-- Actual styles -->
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/header.css">

    {% block head %}{% endblock %}
    <!-- Responsive should be the last stylesheet to overwrite others -->
    <link rel="stylesheet" href="../static/style/responsive.css">

</head>

<body>
    <header>
        <div class="title">Blog</div>
        <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
        </nav>
    </header>

    {% block content %}
        <p>Base content. Should not be used</p>
    {% endblock %}
</body>
</html>